<mat-card>
  <form (submit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input type="text" matInput [formControl]="usernameControl" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="passwordControl" />
    </mat-form-field>
    <div class="actions">
      <button mat-button>LogIn</button>
    </div>
  </form>
</mat-card>
