/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  @apply h-full;
}

html,
body {
  @apply flex flex-col items-stretch flex-1;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

[display-contents="true"], router-outlet {
  display: contents;
}
